* {
    margin: 0;
}

body {
    font-family: monospace;
    box-sizing: border-box;
    background-color: white;
}

body hr {
    margin: auto;
    width: 90%;
}

#head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    align-items: center;
    height: 80px;
    background-color: white;
    color: black;
}

#logo {
    margin-left: 10%;
    font-family: 'Pacifico', cursive;
    width: fit-content
}

#logo h1 {
    font-weight: lighter;
}

#logo a{
    text-decoration: none;
    color:black;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

#nav a {
    color: black;
    text-decoration: none;
    margin-right: 10%;
    transition-duration: .5s;
}

#nav a:hover, #foot-nav a:hover {
    color: lightgray;
}

footer {
    text-align: center;
    margin: 2%;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.column img {
    margin: 5% auto;
    border: solid 4px black;
    width: 25vw;
    box-shadow: 8px 8px;
    border-radius: 10px;
    transition-duration: .3s;
}

.column img:hover {
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 10px 10px;
    transform: scale(1.03);
}
#openedImage1, #openedImage2, #openedImage3, #openedImage4,#openedImage5,#openedImage6,#openedImage7,#openedImage8,#openedImage9{
    display:none;
    z-index: 1;
}

.openImage{
    display:flex;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,.5);
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.openImage img{
    height:80vh;
}

.button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
    padding: 3px 20px;
    transition-duration: .3s;
}

.button:hover{
    cursor:pointer;
    border-radius: 0px;
    box-shadow: 5px 5px;
}

#foot-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
    font-family: sans-serif;
}

#foot-nav a {
    text-decoration: none;
    color: black;
    transition-duration: .5s;
}

#current {
    text-decoration: underline;
}

@media (max-width: 800px) {
    #head {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #logo {
        margin-left: 0;
        margin: 0 auto;
    }

    #nav {
        display: flex;
        justify-content: space-evenly;
        margin: 0 15%;
    }

    #nav a {
        margin-right: 0;
        margin-bottom: 5%;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr;
    }

    .column {
        flex-direction: column;
        align-items: center;
    }

    .column img {
        box-shadow: 10px 10px;
        width: 80vw;
    }

    .column img:hover {
        transform: scale(1);
    }
}
